<h1>Editing Character Type</h1>

<%= render 'form', character_type: @character_type %>

<%= link_to 'Show', @character_type, class: "btn btn-default btn-xs", remote: true %> |
<%= link_to 'Back', character_types_path, class: "btn btn-default btn-xs", remote: true %>
