<h1>Character Types</h1>
<br />
<%= link_to 'New Character Type', new_character_type_path, class: "btn btn-primary btn-xs" %>

<table class="table table-stripped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="character_types_data">
    <%= render @character_types %>
  </tbody>
</table>

<br>


<span class="mx-auto"
  <%= paginate @character_types %>
</span>
