<h1>Character Types</h1>

<%= link_to 'New Character Type', new_character_type_path, class: "btn btn-primary" %>

<div class="row">
  <%= render @character_types %>
</div>

<span class="mx-auto"
  <%= paginate @character_types %>
</span>
