$('.alert').html('<div class="alert fade in alert-success"><button class="close" type="button" data-dismiss="alert">x</button><%= notice %></div>');
$('#character_attribute_<%= @character_attribute_id %>').remove();
